### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Compiled programs
bin/
*/bin/*

# IDE specific folders
.vscode/
.idea/